@import today.expresso.templates.CompilerContext
@(text: String, bold: Boolean, italic: Boolean)(implicit ctx: CompilerContext)

@*https://github.com/playframework/twirl/issues/77*@
@*NOTE: don't auto format becase it can create extra newlines*@
@render(text: Html) = {@(bold, italic) match {
        case (true, true) => {<i><strong>@text</strong></i>}
        case (true, false) => {<strong>@text</strong>}
        case (false, true) => {<i>@text</i>}
        case (false, false) => {@text}
    }
}

@render(Html(text.replaceAll("\n", "<br>")))
