@import services.PublishingHouse
@(newsletter: PublishingHouse.ReadyNewsletter)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

<!doctype html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">

@site.head(newsletter.title.getOrElse("Expresso.today"))

@site.container {
    @site.text {
        <div style="text-align: center;">
            <em>
                <span style="font-size: 17px">
                    <span style="font-family: georgia, times, times new roman, serif">
                        @if(newsletter.header.isEmpty) {
                            @Html("Header here")
                        } else {
                            @{newsletter.header.get(newsletter.config)}
                        }
                    </span>
                </span>
            </em>
        </div>
        <a href="@routes.NewsletterController.getHeaderForm(newsletter.id.get)">edit</a>&nbsp;
    }
}

@for(post <- newsletter.posts) {
    @site.container {
        @site.text {
            <font face="arial, helvetica neue, helvetica, sans-serif" size="5">
                <strong>@post.title</strong>
                <br>
            </font>
            <a href="@routes.PostController.getPostForm(post.id, newsletter.id)">edit</a>&nbsp;
            <a href="@routes.NewsletterController.removePost(newsletter.id.get, post.id.get)">remove</a>&nbsp;
            <a href="@routes.NewsletterController.moveUpPost(newsletter.id.get, post.id.get)">up</a>&nbsp;
            <a href="@routes.NewsletterController.moveDownPost(newsletter.id.get, post.id.get)">down</a>&nbsp;
        }
        @site.divider()
        @site.text {
            <div style="text-align: left;">
                <span style="font-family: georgia, times, times new roman, serif">
                @post.body(post.config)
                </span>
            </div>
        }
    }
}

@site.container {
    @site.text {
        <strong><a href="@routes.PostController.getPostForm(None, newsletter.id)">+post</a>&nbsp;</strong>
    }
}

@site.container {
    @site.text {
        <div style="text-align: left;">
            <span style="font-size: 17px">
                <span style="font-family: georgia, times, times new roman, serif">
                    ***
                    <br>
                    @if(newsletter.footer.isEmpty) {
                        @Html("Footer here")
                    } else {
                        @{newsletter.footer.get(newsletter.config)}
                    }
                </span>
        </span>
        </div>
        <a href="@routes.NewsletterController.getFooterForm(newsletter.id.get)">edit</a>&nbsp;
    }
}


@implicitFieldConstructor = @{
    b3.vertical.fieldConstructor
}
@site.container{
    @b3.form(action = routes.CampaignController.getCampaignForm(None, newsletter.id)) {
        <input type="hidden" name="newsletterId" value="@newsletter.id" />
        @b3.submit('class -> "btn btn-default") { Schedule }
    }
}

<script src="@routes.Assets.versioned("lib/jquery/jquery.js")" crossorigin="anonymous"></script>
<script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" crossorigin="anonymous"></script>




