@(index: Int, data: Map[String, String])

@indexId = {posts_@{index}_body}
@indexField = {posts_@{index}_body_field}
@indexName = {posts[@{index}].body}
@indexContainer = {posts_@{index}_container}

    <div class="form-group  " id="@indexField">
        <label class="control-label col-md-2" for="@indexId">post(@index).body</label>
        <div class="col-md-10">
            <input id="@indexId" type="hidden" name="@indexName" required="true" class="form-control">
            <div id="editor-container" class="form-control ql-container ql-bubble">
                <p>
                    @data(indexName.body)
                </p>
            </div>
        </div>
    </div>
