@(id: String)

@*<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/quill/quill.snow.css")">*@
@*<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/quill/quill.bubble.css")">*@

@*<script src="@routes.Assets.versioned("javascripts/quill/quill.js")" type="text/javascript"></script>*@
<script src="@routes.Assets.versioned("javascripts/quill/quill.min.js")" type="text/javascript"></script>
@*<script src="@routes.Assets.versioned("javascripts/quill/quill.core.js")" type="text/javascript"></script>*@
@*<script src="@routes.Assets.versioned("javascripts/quill/newsletter.quill.js")" type="text/javascript"></script>*@

<script>
        var container = document.getElementById('editor-container');
        console.log(container)
        var toolbarOptions = [['bold', 'italic'], ['link', 'image'],  [{ 'align': [] }],];
        var quill = new Quill(container, {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });

        window.onload = function () {
            var about = document.querySelector('div[id=editor-container] p');
            console.log("test quill");
            console.log(about.textContent);
            quill.setContents(JSON.parse(about.textContent));
            quill.update()
        }

        var form = document.querySelector('form');
        form.onsubmit = function () {
            // Populate hidden form on submit
            var about = document.querySelector('input[name$=body]');
            //TODO: validation
            console.log("input");
            console.log(quill.getContents());
            about.value = JSON.stringify(quill.getContents());

            console.log("Submitted", $(form).serialize(), $(form).serializeArray());

            // No back end to actually submit to!
//            alert('Open the console to see the submit data!')
            return true;
        };
</script>