@(title: String)

<head>

    <meta property="og:title" content=title/>
    <meta property="fb:page_id" content="43929265776" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- NAME: 1 COLUMN -->
        <!--[if gte mso 15]>
		<xml>
			<o:OfficeDocumentSettings>
			<o:AllowPNG/>
			<o:PixelsPerInch>96</o:PixelsPerInch>
			</o:OfficeDocumentSettings>
		</xml>
		<![endif]-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/email.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/email.google.css")">
    @*<script src="@routes.Assets.versioned("javascripts/email.google.js")" type="text/javascript"></script>*@
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>