@import clients.PublishingHouse
@import java.time.format.DateTimeFormatter
@(newsletter: Newsletter, prev: Option[PublishingHouse.ReadyPost] = None, next: Option[PublishingHouse.ReadyPost] = None)

@container {
    @text {
        <div style="text-align: center;">
            <em>
                <span style="font-size: 17px">
                    <span style="font-family: georgia, times, times new roman, serif">
                        <a href="@routes.ArchiveController.newsletter(newsletter.id.get)">
                        @if(newsletter.publishTimestamp.isDefined) {
                            This blurb is from the
                            @{
                                newsletter.publishTimestamp.get.format(DateTimeFormatter.ISO_LOCAL_DATE)
                            }
                            edition of Expresso
                        } else {
                            You are lucky. This stuff is unpublished yet:)
                        }
                        </a>
                    </span>
                </span>
            </em>
        </div>
    }
    <br>

    @text {
        <div>
            <em>
                @if(prev.isDefined) {
                    <span style="font-size: 17px">
                        <span style="font-family: georgia, times, times new roman, serif" class="mcnPrevUrl">
                            <a href="@routes.ArchiveController.post(newsletter.id.get, prev.get.id.get)">
                            @{
                                prev.get.title
                            }
                            </a>
                        </span>
                    </span>
                }
                @if(next.isDefined) {
                    <span style="font-size: 17px">
                        <span style="font-family: georgia, times, times new roman, serif" class="mcnNextUrl">
                            <a href="@routes.ArchiveController.post(newsletter.id.get, next.get.id.get)">
                            @{
                                next.get.title
                            }
                            </a>
                        </span>
                    </span>
                }
            </em>
        </div>
    }
}