@import clients.PublishingHouse
@(newsletter: PublishingHouse.ReadyEdition)

<!doctype html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/">

    @site.head(newsletter.title.get)

    @image {
        @ex._image("https://gallery.mailchimp.com/9ce62abc6f7d6b9a356b4533d/images/623a55f8-c30d-4de4-b8db-cbb2f32bdcde.png", Some("http://www.expresso.today"))
    }


    @site.container {
        @site.text {
            <div style="text-align: center;">
                <em>
                    <span style="font-size: 17px">
                        <span style="font-family: georgia, times, times new roman, serif">
                        @{
                            newsletter.header.get(newsletter.config)
                        }
                        </span>
                    </span>
                </em>
            </div>
        }
    }

    @for(post <- newsletter.posts) {
        @container {
            @text {
                <font face="arial, helvetica neue, helvetica, sans-serif" size="5">
                    <a href="@routes.ArchiveController.post(newsletter.id.get, post.id.get)">
                        <strong>@post.title</strong>
                    </a>
                </font>
            }
            @divider()
            @text {
                <div style="text-align: left;">
                    <span style="font-family: georgia, times, times new roman, serif">
                    @post.body(post.config)
                    </span>
                </div>
            }
        }
    }

    @site.container {
        @site.text {
            <div style="text-align: left;">
                <span style="font-size: 17px">
                    <span style="font-family: georgia, times, times new roman, serif">
                        ***
                        <br>
                        @{newsletter.footer.get(newsletter.config)}
                    </span>
                </span>
            </div>
        }
    }

</html>

