@import clients.PublishingHouse
@import java.time.format.DateTimeFormatter
@(edition: Edition, prev: Option[PublishingHouse.ReadyPost] = None, next: Option[PublishingHouse.ReadyPost] = None)(implicit request: RequestHeader)

    @views.html.site.text {
        <div style="text-align: center;">
            <em>
                <span style="font-size: 17px">
                    <span style="font-family: georgia, times, times new roman, serif">
                        <a href="@controllers.site.routes.ArchiveController.edition(edition.newsletter.nameUrl, edition.date.format(DateTimeFormatter.BASIC_ISO_DATE)).absoluteURL()">
                            Это пост из выпуска Expresso за
                            @{
                                edition.date.format(DateTimeFormatter.ISO_LOCAL_DATE)
                            }
                        </a>
                    </span>
                </span>
            </em>
        </div>
    }
    <br>

    @views.html.site.text {
        <div>
            <em>
                @if(prev.isDefined) {
                    <span style="font-size: 17px">
                        <span style="font-family: georgia, times, times new roman, serif" class="mcnPrevUrl">
                            <a href="@controllers.site.routes.ArchiveController.post(edition.newsletter.nameUrl, edition.date.format(DateTimeFormatter.BASIC_ISO_DATE), prev.get.titleUrl).absoluteURL()">
                            @{
                                prev.get.title
                            }
                            </a>
                        </span>
                    </span>
                }
                @if(next.isDefined) {
                    <span style="font-size: 17px">
                        <span style="font-family: georgia, times, times new roman, serif" class="mcnNextUrl">
                            <a href="@controllers.site.routes.ArchiveController.post(edition.newsletter.nameUrl, edition.date.format(DateTimeFormatter.BASIC_ISO_DATE), next.get.titleUrl)">
                            @{
                                next.get.title
                            }
                            </a>
                        </span>
                    </span>
                }
            </em>
        </div>
    }