@import services.PublishingHouse
@import java.time.format.DateTimeFormatter
@(post: PublishingHouse.ReadyPost, newsletter: Option[Newsletter] = None, prev: Option[PublishingHouse.ReadyPost] = None, next: Option[PublishingHouse.ReadyPost] = None)

@main {
    @head(post.title)

    @image {
        @ex._image("https://gallery.mailchimp.com/9ce62abc6f7d6b9a356b4533d/images/623a55f8-c30d-4de4-b8db-cbb2f32bdcde.png", Some("http://www.expresso.today"))
    }

    @annotation(post.annotation)

    @container {
        @title(post.title)
        @divider()
        @body {
            @post.body(post.config)
        }
    }

    @if(newsletter.isDefined) {
        @map(newsletter.get, prev, next)
    }
}



