@import clients.PublishingHouse.ReadyPostView
@import java.time.format.DateTimeFormatter
@(data: ReadyPostView)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@url = @{
    if(data.edition.isDefined) {
        Some {
            controllers.site.routes.ArchiveController.post(data.edition.get.newsletter.nameUrl, data.edition.get.date.format(DateTimeFormatter.BASIC_ISO_DATE), data.post.titleUrl).absoluteURL()
        }
    } else {
        None
    }
}

@views.html.site.main(data.post.title, Some(data.post.annotation), url) {
    @views.html.site.container {
        @views.html.site.body {

            @views.html.site.image {
                @views.html.site.ex._image(assets.path("images/expresso_logo.png"), Some("https://www.expresso.today"))
            }

            @views.html.site.title(data.post.title)
            @views.html.site.text {
                @data.post.body(data.post.config)
            }

            @if(data.edition.isDefined) {
                @views.html.site.pnavigation(data.edition.get, data.prev, data.next)

                @views.html.site.share(s"${data.edition.get.newsletter.name}: ${data.post.title}", Call(request.method, request.uri).absoluteURL())
            }
        }
    }
}



