@(blocks: List[PostController.PostForm])

<!doctype html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/">
    @head("Тестовый выпуск")
<body style="height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #ffffff;">
        <!---->
    <center>
@cover("это тестовый выпуск сгенерированный автоматически")

@for(b <- blocks) {
    @block(
        b.title,
        b.body,
        None
    )
}

@regardsBlock("Продуктивного дня! Присылай комментарии, вопросы и Киндзмараули на")

@refsBlock()

@footerBlock()
