<!doctype html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/">
    @head("Пятничная пятница")
<body style="height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #ffffff;">
        <!---->
    <center>
@cover("Индийские активисты организации PETA протестуют против использования слонов в развлекательных\u2028    представлениях. Мысленно с ними. За последние дни раз семь читала " +
        "@href(\"http://www.planetaskazokru/kchukovskysth/krokodil\",\u2028        \"поэму «Крокодил» Чуковского\") Вообще, это детская сказка, отражающая события Революции 1905-1907 годов, но для меня это манифест борьбы с зоопарками, клетками и цирками. Захватывающее чтиво.")

@block(
    "Игривая игра",
    "«Игра слов», «словесная игра», «словесная дуэль» — приблизительно так СМИ называют происходящее в последние дни между США и КНДР. Обозначу основные моменты.",
    None,
)

@block(
    "Спортивный спорт",
    "Я редко пишу о спорте, потому что тот, кто увлекается футболом, например, и без меня знает, что в Суперкубке УЕФА «Реал» обыграл «Манчестер Юнайтед» 2:1 (проникновенно об этом написали на сайте Championat.com).",
    Some("https://gallery.mailchimp.com/9ce62abc6f7d6b9a356b4533d/images/6daf8ee0-9416-4398-a61d-abb90f29453e.jpeg"),
)

@block(
    "Кризисный кризис",
    "Небольшая зарисовка к миграционному кризису. Это кадр из видео, снятого на телефон туристом, отдыхавшим на пляже в Кадисе на юго-западе Испании. В среду к берегу подплыла резиновая лодка, из неё высадились два десятка чернокожих парней и разбежались в разные стороны (видео ). Когда приехала полиция, то никого уже не было. Предположительно, это были нелегальные мигранты из Африки. Красавчики, нет?",
    Some("https://gallery.mailchimp.com/9ce62abc6f7d6b9a356b4533d/images/b4ef9d68-3ac5-43ec-9189-18136835e942.jpeg")
)

@block(
    "Expressивный хайку",
    "(Facebook анонсировал запуск видеосервиса Facebook Watch — платформы для просмотра пользовательских видео, профессиональных шоу, прямых трансляций, сериалов и телепередач. Конечно, всё вышеперечисленное с полным фейсбучным функционалом: лайки, шаринги, комментарии, группы по интересам, а ещё подписки и рубрики «самое обсуждаемое», «что смотрят ваши друзья» и «что заставляет людей смеяться». Смотри промо и радуйся (или глухо кричи в подушку).",
    None)

@block(
    "Кулер",
    "+Вид на Tesla Gigafactory с высоты птичьего полёта (видео). Гигантский завод в штате Невада ещё не достроен, но уже производит больше аккумуляторных батарей, чем любой другой завод в мире.",
    None
)

@regardsBlock("Продуктивного дня! Присылай комментарии, вопросы и Киндзмараули на")

@refsBlock()

@footerBlock()



