<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="biz.paluch.logging.gelf.log4j2">
    <Appenders>
        <Console name="STDOUT_SYNC" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </Console>

        <Async name="STDOUT">
            <AppenderRef ref="STDOUT_SYNC"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="STDOUT" level="DEBUG"/>
        </Root>
    </Loggers>
</Configuration>