@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import forms.newslet.CampaignForm.Data
@import views.html.common._
@import helper._

@(user: User, campaignForm: Form[Data])(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@implicitFieldConstructor = @{
    b3.horizontal.fieldConstructor("col-md-2", "col-md-10")
}

<h1>Campaign</h1>

@main(messages("home.title"), Some(user)) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            @b3.form(action = controllers.newslet.routes.CampaignController.submitCampaignForm()) {
                @CSRF.formField
                @b3.textarea(campaignForm("id"), 'style -> "display: none")
                @b3.textarea(campaignForm("newsletterId"), 'style -> "display: none")
                @b3.textarea(campaignForm("editionId"), 'style -> "display: none")
                @b3.textarea(campaignForm("preview"), '_label -> "preview", 'rows -> 1, 'cols -> 20)

                @b3.date(campaignForm("schedule.date"),  'style -> "display: none")
                @b3.number(campaignForm("schedule.zoneOffset"), 'style -> "display: none")
                @b3.inputWrapped("time", campaignForm("schedule.time"), '_label -> "send time") { input =>
                    @input
                    <span class="help-block">
                        <a href="www.google.com">timezone: @Html(java.time.ZoneOffset.ofHours(user.timezone.getOrElse(0)).toString)</a>
                    </span>
                }
                @b3.submit('class -> "btn btn-default") { Schedule }
            }
        </div>
    </div>
}

