@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import java.time.format.DateTimeFormatter
@import views.html.common._

@(user: User, newsletter: Newsletter, editions: Seq[EditionSpec])(implicit request: RequestHeader, messages: Messages, langs: Langs, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

<h1>Editions: @{
    newsletter.name
}</h1>

@main(newsletter.name, Some(user)) {
    <div class="user col-md-9 col-md-offset-1">
        <a href="@controllers.newslet.routes.EditionController.create(newsletter.id.get)">create edition</a> &nbsp;

        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>title</th>
                    <th>date</th>
                </tr>
            </thead>
            @for(edition <- editions) {
                <tr>
                    <td>
                        <a href="@controllers.newslet.routes.EditionController.get(edition.id, false)">edit</a>
                        <a target="_blank" href="@controllers.newslet.routes.EditionController.preview(edition.id)">preview</a>
                    </td>
                    <td>@edition.title.getOrElse("NA")</td>
                    <td>@edition.date.format(DateTimeFormatter.ISO_LOCAL_DATE)</td>
                </tr>
            }
        </table>
    </div>
}

