@import play.api.i18n.Messages
@import controllers.AssetsFinder
@import java.time.format.DateTimeFormatter

@(edition: EditionTemplate)(implicit request: RequestHeader, messages: Messages)


@templates.email.html.main(edition.title, Some(edition.newsletter.name), Some(edition.url)) {

    @templates.email.html.container {

        @if(edition.target == Target.EMAIL) {
            @templates.email.html.preheader(edition.url)
        }

        @templates.email.html.header(edition.date)

        @templates.email.html.body {

            @templates.email.html.text {
                <div style="text-align: center;">
                    <em>
                        <span style="font-size: 17px">
                            <span style="font-family: georgia, times, times new roman, serif">
                                <br>
                                @{
                                    edition.header.get(edition.config)
                                }
                                <br>
                                <br>
                            </span>
                        </span>
                    </em>
                </div>
            }

            @for(post <- edition.posts) {
                @templates.email.html.title(
                    post.title,
                    Some(post.url)
                )
                @templates.email.html.divider()
                @templates.email.html.text {
                    <div style="text-align: left;">
                        <span style="font-family: georgia, times, times new roman, serif">
                        @post.body(post.config)
                        </span>
                    </div>
                }
                @templates.email.html.share(s"${edition.newsletter.name}: ${post.title}", post.url)
                <br>
            }

            @templates.email.html.text {
                <div style="text-align: left;">
                    <span style="font-size: 17px">
                        <span style="font-family: georgia, times, times new roman, serif">
                            ***
                            <br>
                            @{
                                edition.footer.get(edition.config)
                            }
                        </span>
                    </span>
                </div>
            }

            @templates.email.html.regards()

            @templates.email.html.url(edition.url)

            @templates.email.html.share(s"${edition.newsletter.name}: ${edition.title}", edition.url)

            @templates.email.html.channels()

            @templates.email.html.footer()
        }
    }
}

